# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/
.conda/

# IDE / editor
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Hanabi third-party dependency and build outputs
#third_party/hanabi-learning-environment/
*/build/*

# Local cmake artifacts
CMakeCache.txt
CMakeFiles/

on-policy-main*

results/*
!results/Hanabi/
results/Hanabi/*            # re-ignore inside, unless explicitly opened

!results/Hanabi/Hanabi-Full/
results/Hanabi/Hanabi-Full/*
results/Hanabi/Hanabi-Very-Small/*

!results/Hanabi/Hanabi-Full/mappo/
results/Hanabi/Hanabi-Full/mappo/*

!results/Hanabi/Hanabi-Full/mappo/check/
results/Hanabi/Hanabi-Full/mappo/check/*

!results/Hanabi/Hanabi-Full/mappo/check/run17/
results/Hanabi/Hanabi-Full/mappo/check/run17/*

!results/Hanabi/Hanabi-Full/mappo/check/run17/models/
results/Hanabi/Hanabi-Full/mappo/check/run17/models/*

!results/Hanabi/Hanabi-Full/mappo/check/run17/models/actor_latest.pt
!results/Hanabi/Hanabi-Full/mappo/check/run17/models/config.json
!results/Hanabi/Hanabi-Full/mappo/check/run17/models/critic_latest.pt
